.blocks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.blocks.blocks_center {
    justify-content: center;
}

.blocks-block {
    padding: 1rem;
    flex-shrink: 0;
    box-sizing: border-box;
    &.blocks-block_flushLeft {
        padding-left: 0;
    }
}

@for $i from 1 through 4 {
    .blocks-block_#{$i}up {
        width: (1 / $i * 100%);
    }
}

.blocks-block_1third {
    width: 33%;
}

.blocks-block_2thirds {
    width: 66%;
}

@include breakpoint('phone-lg', $max-width: true) {
    @for $i from 1 through 3 {
        .blocks-block_#{$i + 1}up {
            width: (1 / $i * 100%);
        }
    }
}

@include breakpoint('tablet', $max-width: true) {
    @for $i from 1 through 3 {
        .blocks-block_tabletCollapse.blocks-block_#{$i + 1}up {
            width: (1 / $i * 100%);
        }
    }

    .blocks-block.blocks-block_flushLeft {
        padding-left: 1rem;
    }

    .blocks-block_1third {
        width: 100%;
    }

    .blocks-block_2thirds {
        width: 100%;
    }
}
