.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper + .wrapper {
    margin-top: 4rem;
}

@include breakpoint('tablet', $max-width: true) {
    .wrapper + .wrapper {
        margin-top: 2rem;
    }
}

@include breakpoint('phone-lg', $max-width: true) {
    .wrapper + .wrapper {
        margin-top: 0;
    }
}
