.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 4rem;
}

@include breakpoint('tablet', $max-width: true) {
    .wrapper {
        margin-bottom: 2rem;
    }
}

@include breakpoint('phone-lg', $max-width: true) {
    .wrapper {
        margin-bottom: 0;
        &:last-child {
            margin-bottom: 2rem;
        }
    }
}
