extends ../layouts/base.pug

block content
    section.wrapper.blocks.blocks_center
        div.blocks-block.blocks-block_2up
            a(href=`/set-list/${data.setLists[0].slug}`)
                img.fitParent(src=mkImgUrl('c_fit,q_auto:best,w_700', data.setLists[0].coverImg))

    section.wrapper.blocks.blocks_center
        - for (let idx = 1; idx < data.setLists.length; idx++)
            - const setList = data.setLists[idx]
            div.blocks-block.blocks-block_3up
                a(href=`/set-list/${setList.slug}`)
                    img.fitParent(src=mkImgUrl('c_fit,q_auto:best,w_500', setList.coverImg))
