.audioTrack {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    padding: 0.5rem;
    cursor: pointer;
    transition: 200ms ease;
    background-color: #ffffff;
    color: #606060;
    z-index: 1;
    > * + * {
        padding-left: 1rem;
    }

    &.playing, &.paused {
        background-color: #f0f0f0;
        color: #000;
        & .audioTrack-progress {
            opacity: 1;
            display: block;
        }
        & .audioTrack-info {
            margin-left: 2rem;
            &:before {
                font-family: 'fontello';
                display: block;
                text-align: center;
                font-size: 1.5rem;
                position: absolute;
                width: 3rem;
                left: -2rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &.playing .audioTrack-info:before {
        content: '\e803';
    }
    &.paused .audioTrack-info:before {
        content: '\e804';
    }
}

.audioTrack-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.audioTrack-img {
    width: 6rem;
    height: 6rem;
    flex-shrink: 0;
    position: relative;
    align-self: center;

}

.audioTrack-title {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0.25em;
}

.audioTrack-artist {
    // color: #606060;
}

.audioTrack-progress {
    height: 5px;
    width: calc(100% - 1rem);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background-color: #cccccc;
    opacity: 0;
    display: none;
    position: relative;
}

.audioTrack-progress-bar {
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #000;
    transition: width 250ms ease;
}

.audioTrack-progress-current, .audioTrack-progress-duration {
    position: absolute;
    top: 10px;
    color: #999999;
    font-size: 0.66rem;
}

.audioTrack-progress-current {
    left: 0;
}

.audioTrack-progress-duration {
    right: 0;
}

@include breakpoint('phone-lg', $max-width: true) {
    .audioTrack-title {
        font-size: 1rem;
    }
    .audioTrack-artist {
        font-size: 0.8rem;
    }
}