.audioTrack {
    position: relative;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: 200ms ease;
    background-color: #ffffff;
    color: #606060;
    z-index: 1;
    > * + * {
        padding-left: 1rem;
    }

    &.playing, &.paused {
        color: #000;
        & .audioTrack-seq {
            color: #000000;
        }
        & .audioTrack-progress {
            opacity: 1;
            display: block;
        }
        & .audioTrack-title {
            &:before {
                font-family: 'fontello';
                text-align: left;
                margin-right: 0.5em;
                color: #808080;
                width: 1em;
                position: relative;
                top: 0.2em;
            }
        }
    }
    &.playing .audioTrack-title:before {
        content: '\e803';
    }
    &.paused .audioTrack-title:before {
        content: '\e804';
    }
}

.audioTrack-info {
}

.audioTrack-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    position: relative;
}

.audioTrack-seq {
    position: absolute;
    height: 100%;
    width: 2rem;
    left: 0;
    top: 0;
    font-size: 2rem;
    font-weight: 700;
    color: #aaa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.audioTrack-img {
    width: 6rem;
    height: 6rem;
    flex-shrink: 0;
    position: relative;
    align-self: center;

}

.audioTrack-title {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0.25em;
    margin-left: 3rem;
    &:before {
        display: inline-block;
        content: '';
        width: 0;
        overflow: hidden;
        color: transparent;
        transition: color 300ms ease, width 300ms ease;
    }
}

.audioTrack-artist {
    margin-left: 3rem;
}

.audioTrack-progress {
    height: 5px;
    width: calc(100% - 3.5rem);
    margin-top: 0.66rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    background-color: #cccccc;
    opacity: 0;
    display: none;
    position: relative;
}

.audioTrack-progress-bar {
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #000;
    transition: width 250ms ease;
}

.audioTrack-progress-current, .audioTrack-progress-duration {
    position: absolute;
    top: 10px;
    color: #999999;
    font-size: 0.66rem;
}

.audioTrack-progress-current {
    left: 0;
}

.audioTrack-progress-duration {
    right: 0;
}

@include breakpoint('phone-lg', $max-width: true) {
    .audioTrack-title {
        font-size: 1rem;
    }
    .audioTrack-artist {
        font-size: 0.8rem;
    }
}
