.jumbotron {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.jumbotron-hd {
    color: transparent;
    & > a {
        text-decoration: none;
        &:visited {
            color: inherit;
        }
    }
}

.jumbotron-hd-img {
    display: block;
    width: calc(100vw - 2rem);
    margin: 0 auto;
    height: 12vw;
    color: transparent;
    background-image: url('/assets/media/images/logo.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@include breakpoint('phone-lg', $max-width: true) {
    .jumbotron {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .jumbotron-hd {
        font-size: 30vw;
    }
    .jumbotron-hd-img {
        background-image: url('/assets/media/images/logo-small.svg');
        height: 45vw;
    }
}
