.jumbotron {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.jumbotron-hd {
    font-weight: 700;
    font-size: 10rem;
    text-align: center;
    text-transform: uppercase;
    & > a {
        color: inherit;
        text-decoration: none;
        &:visited {
            color: inherit;
        }
    }
}

@include breakpoint('phone-lg', $max-width: true) {
    .jumbotron-hd {
        font-size: 30vw;
    }
}