html, body {
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
}

@include breakpoint('phone-lg', $max-width: true) {
    html, body {
        font-size: 16px;
    }
}

p {
    line-height: 1.4;
    margin-bottom: 1.4em;
}

.txt_light {
    color: #555555;
}

.txt_lg {
    font-size: 1.2rem;
}

.txt_sm {
    font-size: 0.8rem;
}